.MenuUserCard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.MenuUserCard-container img {
  width: 64px;
  height: 64px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
}

.MenuUserCard-name {
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin-top: 8px;
}

.MenuUserCard-country {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-top: 4px;
  color: #aaaaaa;
}

.MenuUserCard-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  width: 100%;
}

.MenuUserCard-statItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.MenuUserCard-statValue {
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin-top: 8px;
}

.MenuUserCard-statLabel {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-top: 4px;
  color: #aaaaaa;
}
