.SocialIcon-container {
  cursor: pointer;
}

.SocialIcon-container svg {
  height: 20px;
  width: 20px;
}

.SocialIcon-container svg path {
  fill: #ebf8ff;
}

.SocialIcon-container:hover svg path {
  fill: #22da6e;
}
