.ListPlaylistsPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* @see http://jsfiddle.net/6k5trvr4/9/ */
.ListPlaylistsPage-imgContainer {
  overflow: hidden;
  position: relative;
}

.ListPlaylistsPage-innerImgContainer {
  display: block;
  height: 400px;
  line-height: 400px;
  overflow: hidden;
}

.ListPlaylistsPage-innerImgContainer img {
  position: relative;
  margin: -50% auto; /* virtualy height needed turn don to zero */
  width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 90%);
  mask-image: linear-gradient(to top, transparent 25%, black 90%);
}
