.RightSidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 32px 8px 32px 8px;
  background-color: #232323;
}

.RightSidebar-container span {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-bottom: 32px;
  color: #aaaaaa;
}
