.SelectedArtist-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 32px;
}

.SelectedArtist-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 224px;
}

.SelectedArtist-left img {
  width: 224px;
  height: 224px;
}

.SelectedArtist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.SelectedArtist-info h3 {
  margin-top: 0px;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.SelectedArtist-container p {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-top: 4px;
  color: #aaaaaa;
}

.SelectedArtist-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 16px;
  width: 100%;
}

.SelectedArtist-tracks {
  width: 100%;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  padding-bottom: 8px;
  padding-top: 8px;
  color: rgba(241, 241, 241, 1);
  text-align: left;
}
