.HeaderSocial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.HeaderSocial-container svg {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.HeaderSocial-container svg path {
  fill: #f1f1f1;
}
