.truncate {
  width: 24em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TrackRow-title,
.TrackRow-artist,
.TrackRow-album,
.TrackRow-date,
.TrackRow-popularity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 8em;
}

.TrackRow-title {
  width: 24em;
}

.TrackRow-popularity {
  margin-right: 0px;
}
