.MenuFooter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.MenuFooter-container span {
  margin-bottom: 4px;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  margin-top: 4px;
  color: #aaaaaa;
}

.MenuFooter-linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
