.MenuLink-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.MenuLink-container img {
  width: 16px;
  height: 16px;
}

.MenuLink-container span {
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin-left: 8px;
}

.MenuLink-container svg path {
  fill: rgba(241, 241, 241, 0.5);
}
