.MenuHeader-brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.MenuHeader-brand img {
  width: 28px;
  height: 28px;
}

.MenuHeader-brand h2 {
  font-size: 1.8em;
  margin-left: 0.3em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 0.1em;
}
