/* @see http://jsfiddle.net/6k5trvr4/9/ */
.PageCoverWithInput-imgContainer {
  overflow: hidden;
  position: relative;
}

.PageCoverWithInput-imgContainer h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 32px;
  margin-left: 48px;
  text-transform: none;
}

.PageCoverWithInput-innerImgContainer {
  display: block;
  height: 500px;
  line-height: 500px;
  overflow: hidden;
}

.PageCoverWithInput-innerImgContainer img {
  position: relative;
  margin: -50% auto; /* virtualy height needed turn don to zero */
  width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 90%);
  mask-image: linear-gradient(to top, transparent 25%, black 90%);
}
