.SearchArtistsPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.SearchArtistsPage-innerContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.SearchArtistsPage-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.SearchArtistsPage-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}
