.HeaderMenu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  /* margin-right: 24px; */
}

.HeaderMenu-ul li {
  text-decoration: none;
  margin-right: 24px;
}

.HeaderMenu-ul li a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.2em;
  font-weight: bold;
}
