.App {
  height: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #192750;
}

.App-container {
  min-height: 100vh;
}

/* removing the input border */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  background: transparent;
}

button {
  border-radius: 0.8em;
}