.PlaylistStatItem-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.PlaylistStatItem-container img {
  width: 16px;
  height: 16px;
}

.PlaylistStatItem-container svg path {
  fill: rgba(241, 241, 241, 0.5);
}

.PlaylistStatItem-container span {
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: rgba(241, 241, 241, 0.5);
}

.PlaylistStatItem-text {
  margin-left: 8px;
  margin-right: 4px;
}

.PlaylistStatItem-value {
  margin-right: 48px;
}
