.WelcomePage-container {
  background-image: url('/assets/body-top-pattern.svg');
  background-repeat: no-repeat;
  background-position: top;
}

.WelcomePage-SectionTitle {
  background-image: url('/assets/title-pattern.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  height: 200px;
  line-height: 200px;
}