.WelcomePage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.WelcomePage-innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.WelcomePage-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.1em;
}

.WelcomePage-brand img {
  width: 96px;
  height: 96px;
}

.WelcomePage-brand h1 {
  font-size: 7em;
  text-transform: uppercase;
  margin-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: #1ed760;
  letter-spacing: 0.1em;
}

.WelcomePage-slogan h3 {
  font-size: 1.6em;
  letter-spacing: 0.3em;
  font-weight: bold;
  margin-bottom: 3em;
}

.WelcomePage-login {
  background-color: #1ed760;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 8px 100px;
  text-decoration: none;
  text-shadow: 2px 2px 0px #2f6627;
  border: none;
}
.WelcomePage-login:hover {
  background-color: #1ed760;
}
.WelcomePage-login:active {
  position: relative;
  top: 1px;
}
